@import url('https://fonts.googleapis.com?family=Roboto');
body{
    margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     background-image: url('/assets/img/background/bg1.png');
     background-size: cover;
     background-repeat: no-repeat;
}
 .navigation {
     height: 55px;
     background: linear-gradient(45deg, #4199fe, #74b4fe);
}
 .brand {
     position: absolute;
     padding-left: 20px;
     float: left;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}
 .brand a, .brand a:visited {
     color: #ffffff;
     text-decoration: none;
}
 .nav-container {
     max-width: 1000px;
     margin: 0 auto;
}
 nav {
     float: right;
}
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
 nav ul li {
     float: left;
     position: relative;
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     color: #fff;
     background: #4199fe ;
     text-decoration: none;
}
 nav ul li a{
     background: transparent;
     color: #FFF;
}
 nav ul li a:hover, nav ul li a:visited:hover {
     background: #2581DC;
     color: #ffffff;
}
 .navbar-dropdown li a{
     background: #2581DC;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 190px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}

/* Siswa */

/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}
 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
    }
     nav {
         width: 100%;
         height: 100%;
         padding: 55px 1px 15px;
    }
     nav ul {
         display: none;
    }
     nav ul li {
         float: none;
    }
     nav ul li a {
         display: flex;
         justify-content: center;
         padding: 30px;
         line-height: 20px;
         background: #4199fe;
    }
     nav ul li ul li a {
         padding-left: 30px;
    }
     .navbar-dropdown {
         position: static;
}
 @media screen and (min-width:800px) {
     .nav-list {
         display: block !important;
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
}

label {
    display: block;
    margin-bottom: 10px;
  }

  select {
    padding: 5px;
    font-size: 16px;
  }

  button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: rgb(73, 133, 245);
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color:  rgb(73, 133, 245);
  }


  .container {
    display: flex;
    justify-content: center; /* Letakkan card di tengah secara horizontal */
    flex-wrap: wrap;
  }

  .profile-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; /* Pusatkan card secara horizontal */
    align-content: center;
    padding: 20px;
    border: 1px none #ddd;
    border-radius: 10px;
    background-color: #2d74df;
    box-shadow: 0px 2px 5px rgb(255, 255, 255);
    width: 200px;
    margin: 10px; /* Tambahkan margin untuk memberikan ruang antar card */
  }

  .profile-card .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 4%;
    border: #fff solid 1px;
    overflow: hidden;
  }
  
  .profile-card .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-card .profile-details {
    margin-top: 20px;
    text-align: center;
  }
  
  .profile-card .name {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .profile-card .view-more {
    color: #fff;
    background-color: blue;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .profile-card .view-more:hover {
    background-color: rgb(54, 54, 230);
  }

  .bottom {
    left: 0;
    bottom: 0;
    background-color: #190743;
    color: #fff;
    padding: 20px;
  }
  

  .bottom h4 {
    text-align: center;
  }

  .bottom a{
    color: white;
    text-decoration: none;
  }

  .bottom a:hover {
      text-decoration: #fff;
  }


  .tes {
      display: flex;
      flex-wrap: wrap;
  }