@media only screen and (max-width: 800px) {
    .bckg {
      background-image: url(/assets/img/background/bg3.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 120vh;
    }

    .bagian-dev {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }

.card1,.card2,.card3 {
        width: 200px;
        height: 270px;
        background-color: rgb(75, 133, 242);
        box-shadow: 8px 5px 10px grey;
        margin: 10px;
        padding: 10px;
        border-radius: 8px;
}

.akmal,
.riswan,
.romi {
margin: 10px auto;
border: 1px solid white;
border-radius: 8%;
width: 180px;
height: 150px;
background-size: cover;
background-color: pink;
}

.about3,.about2,.about1 {
font-family: sans-serif;
color: white;
margin: 5px;
font-size: 20px;
}


.ty h1 {
    font-size: 35px;
}

  }